/* Vector */
#div1 {
position: absolute;
width: 1440px;
height: 566.29px;
left: 0px;
top: 3328px;

background: linear-gradient(0deg, rgba(19, 37, 84, 0.88), rgba(19, 37, 84, 0.88)), url('/images/about us.jpg');
}


/* Reed and shows logo placeholder */

position: absolute;
width: 57px;
height: 26px;
left: 267px;
top: 154px;



/* Vector */

position: absolute;
width: 1479px;
height: 784px;
left: -20px;
top: 0px;

background: linear-gradient(0deg, rgba(19, 37, 84, 0.88), rgba(19, 37, 84, 0.88)), url('/images/r&s hero.jpg');


/* Reed and Shows logo white */

position: absolute;
width: 80px;
height: 80px;
left: 135px;
top: 24px;
`
background: url('images/Reed and shows logo placeholder.png');


/* Call: 555-555-5555 */

position: absolute;
width: 208px;
height: 24px;
left: 616px;
top: 52px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Reed and Shows logo white 2 */

position: absolute;
width: 200px;
height: 200px;
left: 620px;
top: 152px;

background: url('/images/Reed and Shows logo white 2.png');


/* For all your water meter services and repairs */

position: absolute;
width: 567px;
height: 120px;
left: 437px;
top: 368px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Group */

position: absolute;
width: 170px;
height: 48px;
left: 635px;
top: 504px;



/* Rectangle 2 */

position: absolute;
width: 170px;
height: 48px;
left: 635px;
top: 504px;

background: #C5674C;
border-radius: 10px;


/* Contact Us */

position: absolute;
width: 124px;
height: 24px;
left: 658px;
top: 516px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Group */

position: absolute;
width: 170px;
height: 48px;
left: 1135px;
top: 40px;



/* Rectangle 2 */

position: absolute;
width: 170px;
height: 48px;
left: 1135px;
top: 40px;

background: #C5674C;
border-radius: 10px;


/* Contact Us */

position: absolute;
width: 124px;
height: 24px;
left: 1158px;
top: 52px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Vector 2 */

position: absolute;
width: 726px;
height: 116px;
left: 714px;
top: 668px;

background: rgba(91, 169, 217, 0.5);


/* Vector 3 */

position: absolute;
width: 335px;
height: 44.08px;
left: 1105px;
top: 687.94px;

background: rgba(197, 103, 76, 0.5);


/* (770) 942-7290 */

position: absolute;
width: 123px;
height: 32px;
left: 1182px;
top: 3104px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Our Services */

position: absolute;
width: 296px;
height: 80px;
left: 572px;
top: 880px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;

color: #132554;



/* Rectangle */

#div2 {
position: absolute;
width: 600px;
height: 480px;
left: 135px;
top: 1024px;

background: url('/images/meter testing.jpg');
}


/* Rectangle 2 */

position: absolute;
width: 42.67px;
height: 4px;
left: 656px;
top: 956px;

background: #132554;


/* Rectangle 2.1 */

position: absolute;
width: 42.67px;
height: 4px;
left: 698.67px;
top: 956px;

background: #C5674C;


/* Rectangle 2.2 */

position: absolute;
width: 42.67px;
height: 4px;
left: 741.33px;
top: 956px;

background: #5BA9D9;


/* Contact Us */

position: absolute;
width: 247px;
height: 80px;
left: 597px;
top: 3990px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;

color: #132554;



/* Group 8 */

position: absolute;
width: 128px;
height: 4px;
left: 656px;
top: 4068px;



/* Rectangle 2.3 */

position: absolute;
width: 42.67px;
height: 4px;
left: 656px;
top: 4068px;

background: #132554;


/* Rectangle 2.4 */

position: absolute;
width: 42.67px;
height: 4px;
left: 698.67px;
top: 4068px;

background: #C5674C;


/* Rectangle 2.5 */

position: absolute;
width: 42.67px;
height: 4px;
left: 741.33px;
top: 4068px;

background: #5BA9D9;


/* Meter Testing */

position: absolute;
width: 225px;
height: 40px;
left: 805px;
top: 1144px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

color: #132554;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac commodo congue tincidunt mauris platea aliquam aenean neque,. Ullamcorper vestibulum viverra metus tortor feugiat. */

position: absolute;
width: 500px;
height: 168px;
left: 805px;
top: 1216px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #132554;



/* Rectangle 2.1 */

position: absolute;
width: 72px;
height: 4px;
left: 805px;
top: 1196px;

background: #C5674C;


/* Rectangle */

position: absolute;
width: 600px;
height: 480px;
left: 705px;
top: 1600px;

background: url('/images/meter installation.jpg');


/* Group 3 */

position: absolute;
width: 500px;
height: 240px;
left: 135px;
top: 1720px;



/* Meter Installations */

position: absolute;
width: 312px;
height: 40px;
left: 135px;
top: 1720px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

color: #132554;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac commodo congue tincidunt mauris platea aliquam aenean neque,. Ullamcorper vestibulum viverra metus tortor feugiat. */

position: absolute;
width: 500px;
height: 168px;
left: 135px;
top: 1792px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #132554;



/* Rectangle 2.2 */

position: absolute;
width: 72px;
height: 4px;
left: 135px;
top: 1772px;

background: #C5674C;


/* Rectangle */

position: absolute;
width: 600px;
height: 480px;
left: 135px;
top: 2176px;

background: url('/images/hydrant testing.jpg');


/* Group 3.1 */

position: absolute;
width: 500px;
height: 240px;
left: 805px;
top: 2296px;



/* Hydrant Testing */

position: absolute;
width: 312px;
height: 40px;
left: 805px;
top: 2296px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

color: #132554;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac commodo congue tincidunt mauris platea aliquam aenean neque,. Ullamcorper vestibulum viverra metus tortor feugiat. */

position: absolute;
width: 500px;
height: 168px;
left: 805px;
top: 2368px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #132554;



/* Rectangle 2.2 */

position: absolute;
width: 72px;
height: 4px;
left: 805px;
top: 2348px;

background: #C5674C;


/* Rectangle */

position: absolute;
width: 600px;
height: 480px;
left: 705px;
top: 2752px;

background: url('/images/consulting.jpg');


/* Consulting */

position: absolute;
width: 312px;
height: 40px;
left: 135px;
top: 2872px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

color: #132554;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac commodo congue tincidunt mauris platea aliquam aenean neque,. Ullamcorper vestibulum viverra metus tortor feugiat. */

position: absolute;
width: 500px;
height: 168px;
left: 135px;
top: 2944px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #132554;



/* Rectangle 2.2 */

position: absolute;
width: 72px;
height: 4px;
left: 135px;
top: 2924px;

background: #C5674C;


/* Group 7 */

position: absolute;
width: 770px;
height: 269px;
left: 335px;
top: 3475px;



/* About Us */

position: absolute;
width: 204px;
height: 80px;
left: 618px;
top: 3475px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Group 6 */

position: absolute;
width: 128px;
height: 4px;
left: 656px;
top: 3548px;



/* Rectangle 2 */

position: absolute;
width: 42.67px;
height: 4px;
left: 656px;
top: 3548px;

background: #5BA9D9;


/* Rectangle 2.1 */

position: absolute;
width: 42.67px;
height: 4px;
left: 698.67px;
top: 3548px;

background: #C5674C;


/* Rectangle 2.2 */

position: absolute;
width: 42.67px;
height: 4px;
left: 741.33px;
top: 3548px;

background: #FFFFFF;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices consectetur risus ac ligula velit. Porttitor in ultrices erat fermentum. Integer libero, dictum convallis scelerisque congue fermentum. Libero felis viverra in lacinia pharetra amet, ut nisi, aliquet. Turpis rhoncus, donec at libero. Ac cursus pellentesque arcu imperdiet elementum purus. Diam dictum sed sem in id. Ultrices morbi eu semper quam eget purus elit. */

position: absolute;
width: 770px;
height: 168px;
left: 335px;
top: 3576px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */
text-align: center;

color: #FFFFFF;



/* Vector 4 */

position: absolute;
width: 728px;
height: 88.76px;
left: 712px;
top: 3807.96px;

background: rgba(91, 169, 217, 0.5);


/* Vector 5 */

position: absolute;
width: 271px;
height: 127.5px;
left: 1169px;
top: 3747.5px;

background: rgba(197, 103, 76, 0.5);


/* mail */

position: absolute;
width: 96px;
height: 96px;
left: 1127px;
top: 4176px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 5px solid #C5674C;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 45.83%;

border: 5px solid #C5674C;


/* Group 9 */

position: absolute;
width: 324px;
height: 200px;
left: 135px;
top: 4168px;



/* map-pin */

position: absolute;
width: 96px;
height: 96px;
left: 249px;
top: 4168px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 4.17%;
bottom: 4.17%;

border: 5px solid #C5674C;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 29.17%;
bottom: 45.83%;

border: 5px solid #C5674C;


/* 5463 Dukes Rd, Douglasville, Ga 30136-5226 */

position: absolute;
width: 324px;
height: 72px;
left: 135px;
top: 4296px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* or 150% */
text-align: center;

color: #132554;



/* Group 10 */

position: absolute;
width: 164px;
height: 152px;
left: 638px;
top: 4176px;



/* phone */

position: absolute;
width: 96px;
height: 96px;
left: 672px;
top: 4176px;



/* Vector */

position: absolute;
left: 8.8%;
right: 8.33%;
top: 8.33%;
bottom: 8.63%;

border: 5px solid #C5674C;


/* (770) 942-7290 */

position: absolute;
width: 164px;
height: 32px;
left: 638px;
top: 4296px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #132554;



/* email12345@email.com */

position: absolute;
width: 260px;
height: 32px;
left: 1045px;
top: 4296px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #132554;



/* Rectangle */

position: absolute;
width: 1440px;
height: 248px;
left: 0px;
bottom: 0px;

background: #132554;


/* Rectangle */

position: absolute;
width: 1170px;
height: 1px;
left: 135px;
bottom: 79px;

background: #FFFFFF;


/* 5463 Dukes Rd, Douglasville, Ga 30136-5226 */

position: absolute;
width: 356px;
height: 32px;
left: 542px;
bottom: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* (770) 942-7290 */

position: absolute;
width: 123px;
height: 32px;
left: 1182px;
bottom: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* email12345@email.com */

position: absolute;
width: 195px;
height: 32px;
left: 135px;
bottom: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Reed and Shows logo white 2.1 */

position: absolute;
width: 120px;
height: 120px;
left: 660px;
bottom: 104px;

background: url('/images/Reed and Shows logo white 2.png');
